<div class="grid-x grid-margin-x">
  <div class="cell large-12">
    <h3>Извините, данное название списка занято, придумайте другое</h3>
    <p>
      <a href="<%= all_lists_path %>"> Вернуться к спискам покупок</a>
    </p>
  </div>
</div>
