<div class="grid-x grid-margin-x">
  <div class="cell large-12">
    <h3>Извините, данное название канцтовара занято, придумайте другое</h3>
    <p>
      <a href="<%= all_stationery_path %>"> Вернуться к канцтоварам</a>
    </p>
  </div>
</div>
